
<div class="clr-row">
    <div class="clr-col-lg-6 clr-offset-lg-3 clr-col-12">
        <div class="card">
            <div class="card-block">
                <form clrForm [formGroup]="signupForm">
                    <clr-input-container>
                        <label>Name</label>
                        <input clrInput type="text" formControlName="name" name="name" />
                    </clr-input-container>
                    <clr-input-container>
                        <label>Email</label>
                        <input clrInput type="email" formControlName="email" name="email" />
                    </clr-input-container>
                    <clr-input-container>
                        <label>Password</label>
                        <input clrInput type="password" formControlName="password" name="password" />
                    </clr-input-container>
                </form>
            </div>
            <div class="card-footer text-center">
                <div>
                    Already have an account?
                    <a routerLink="/login" class="nav-link nav-text">Log in</a>
                </div>
                <button (click)="submit()" class="btn btn-primary">Create an account</button>
            </div>
        </div>
    </div>
</div>
