
<div class="clr-row">
    <div class="clr-col-9">
        <h1>Welcome to the NonTube!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quae, qui ipsa laborum voluptatem aliquam nam culpa ea perferendis at, neque placeat tempore eveniet eius obcaecati nulla. Asperiores nam, recusandae obcaecati incidunt laborum reiciendis eligendi rem eius iusto dolorum dolore veniam quae error nostrum accusamus, aut hic perferendis quasi aspernatur eaque nulla ducimus praesentium assumenda. Ad atque soluta nisi? Corporis nulla quasi odit accusamus quae? Adipisci nostrum sunt eveniet dolor aliquid officia labore cupiditate maiores et! Optio iusto id vitae nemo molestias obcaecati blanditiis sint consequatur fugiat pariatur, rerum facilis nulla odio ut placeat porro? Itaque reprehenderit quam amet dicta.
        </p>
    </div>
    <div class="clr-col-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, dolore odio aut earum deserunt consequatur fuga, corporis aperiam animi officiis vel quo eligendi esse autem, commodi itaque ut tempore voluptas.</p>
    </div>
</div>
