

<div class="clr-row">
    <div *ngIf="video" class="clr-col-9">
        <video class="video" controls>
            <source [src]="videoService.BASE_URL+'/v/'+id+'.mp4'" type="video/mp4"/>
        </video>

        <div>
            <span>{{ video.views }} views</span>
            <video-owner-controls *ngIf="showOwnerControls"
                class="controls"
                [video]="video">
            </video-owner-controls>
            <div class="likes">
                <button class="btn btn-link"
                    [ngClass]="{ pressed: video.isLiked }"
                    (click)="toggleLike()">
                    <clr-icon shape="thumbs-up"></clr-icon>
                    {{ video.likes }}
                </button>
                <button class="btn btn-link"
                    [ngClass]="{ pressed: video.isDisliked }"
                    (click)="toggleDislike()">
                    {{ video.dislikes }}
                    <clr-icon shape="thumbs-down"></clr-icon>
                </button>
            </div>
        </div>


        <h2>{{ video.title }}</h2>
        <p>{{ video.description }}</p>
    </div>
    <div class="clr-col-3">
        <h3>Check out other cool vids:</h3>
        <p>Nothing here yet...</p>
    </div>
</div>

