

<div class="clr-row">
    <div *ngIf="video" class="clr-col-9">
        <video class="video" controls>
            <source [src]="videoService.BASE_URL+'/v/'+id+'.mp4'" type="video/mp4"/>
        </video>

        <div>
            <video-owner-controls *ngIf="showOwnerControls"
                class="controls"
                [video]="video">
            </video-owner-controls>
            <div class="likes">
                <button class="btn btn-link"
                    [ngClass]="{ 'pressed': isLiked }"
                    (click)="toggleLike()">
                    <clr-icon shape="thumbs-up"></clr-icon>
                    {{ video.likes }}
                </button>
                <button class="btn btn-link"
                    [ngClass]="{ 'pressed': isDisliked }"
                    (click)="toggleDislike()">
                    {{ video.dislikes }}
                    <clr-icon shape="thumbs-down"></clr-icon>
                </button>
            </div>
            <h2 class="title">{{ video.title }}</h2>
            <p class="description">{{ video.description }}</p>
        </div>

        <div>
            <div>{{ video.views }} views</div>
            <div>Uploaded {{ video.createdAt.toDateString() }}</div>
            <div>Author: <a [routerLink]="'/u/' + video.user.id">{{ video.user.name }}</a></div>
            <div *ngIf="video.categories.length > 0">
                Categories: 
                {{ categories }}
            </div>
        </div>

        <div *ngIf="!auth.isAuthorized">
            <h3 class="disabled">Log in to see comments section</h3>
        </div>

        <video-comments 
            *ngIf="auth.isAuthorized"
            [videoId]="video.id"
            [userId]="auth.currentUserValue.id">
        </video-comments>
    </div>
    <div class="clr-col-3">
        <h3>Check out other cool vids:</h3>
        <div *ngFor="let vid of recommended" class="video-card">
            <a [routerLink]="['/v',vid.id]" class="card clickable">
                <div class="card-img"
                    [ngStyle]="{ backgroundImage: 'url(' + videoService.BASE_URL + '/' + vid.thumbnail + ')' }">
                </div>
                <div class="card-block">
                    <p class="card-text">
                        {{ vid.title }}
                    </p>
                    <div>
                        <span class="label">{{ vid.user?.name }}</span>
                    </div>
                </div>
            </a>
        </div>

        <p *ngIf="recommended.length === 0">Nothing here yet...</p>
    </div>
</div>

