<div class="clr-row">
    <div class="clr-col-lg-6 clr-offset-lg-3 clr-col-12">
        <div class="card">
            <div class="card-block">
                <form clrForm [formGroup]="form">
                    <clr-input-container>
                        <label>
                            Title
                        </label>
                        <input clrInput type="text" formControlName="title" name="title" />
                    </clr-input-container>
                    <clr-input-container>
                        <label>
                            Description
                        </label>
                        <input clrInput type="text" formControlName="description" name="description" />
                    </clr-input-container>
                </form>
                <div>
                    <clr-control-container>
                        <label>
                            Categories
                        </label>
                        <ng-select clrInput
                            [multiple]="true" 
                            bindValue="id" 
                            bindLabel="title"
                            [(ngModel)]="selectedCategories"
                            >
                            <ng-option *ngFor="let cat of categories" [value]="cat.id">
                                {{cat.title}}
                            </ng-option>
                        </ng-select>
                    </clr-control-container>
                </div>
            </div>
            <div class="card-footer text-center">
                <button (click)="submit($event)" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>