
.comment {
    padding: 5px;
    padding-right: 0;
    margin-top: 5px;
    position: relative;

    &> .comment-actions {
        float: right;
        display: block;
        opacity: 0;
        cursor: pointer;
        .delete {
            padding-left: 8px;
        }
    }
    
    .date {
        border-color: transparent;
        margin-left: -8px;
    }

    .body {
        margin: 5px 0;
        font-size: 1.15em;
    }

    &:hover {
        &> .comment-actions { opacity: 1; }
    }

    .expand-replies {
        margin-top: 5px;
        cursor: pointer;
    }

    .replies {
        padding-left: 20px;
        border-left: 1px solid #dedede;
    }

}
