
<div class="comment">
    <a [routerLink]="'/u/' + comment.user.id" class="label">
        {{ comment.user.name }}
    </a>
    <div class="comment-actions">
        <a (click)="reply()" class="reply">Reply</a>
        <a (click)="deleteComm()" class="delete">Delete</a>
    </div>
    <div class="body">
        {{ comment.text }}
    </div>

    <a *ngIf="comment.replyCount > 0"
        (click)="toggleReplies()"
        class="expand-replies">
        {{ (repliesShown) ? "Hide replies" : "Show replies" }}
        ({{ comment.replyCount }})
        <clr-icon shape="angle" [dir]="(repliesShown) ? 'up' : 'down'">
        </clr-icon>
    </a>

    <div *ngIf="comment.replyCount > 0 && repliesShown" 
        class="replies">
        <single-comment 
            *ngFor="let reply of comment.replies" 
            [comment]="reply"
            [userId]="userId">
        </single-comment>
    </div>
</div>
