<div class="content-container">
    <nav class="sidenav">
        <section class="sidenav-content">
            <a (click)="activeTab = 0" class="nav-link" [class.active]="activeTab === 0">
                Users
            </a>
            <a (click)="activeTab = 1" class="nav-link" [class.active]="activeTab === 1">
                Videos
            </a>
            <a (click)="activeTab = 2" class="nav-link" [class.active]="activeTab === 2">
                Statistics
            </a>
        </section>
    </nav>
    <div class="content-area">
        <admin-users-list *ngIf="activeTab === 0">
        </admin-users-list>
        <admin-videos-list *ngIf="activeTab === 1">
        </admin-videos-list>
        <admin-users-chart *ngIf="activeTab === 2">
        </admin-users-chart>
    </div>
</div>