
.clr-input {
    width: 100%;
}

.block {
    display: block;
}

.float-right { float: right;       }
.float-left  { float: left;        }
.clearfix    { display: flow-root; }

.not-visible {
    position: fixed;
    visibility: 0;
    right: -1000px;
    bottom: 1000px;
}

button {
    outline: none !important;
}
