
.clr-input {
    width: 100%;
}

.block {
    display: block;
}

.float-right { float: right;       }
.float-left  { float: left;        }
.clearfix    { display: flow-root; }

.not-visible {
    position: fixed;
    visibility: 0;
    right: -1000px;
    bottom: 1000px;
}

button {
    outline: none !important;
}

.video-card {
    .card-img {
        height: 180px;
        background-size: cover;
        overflow: hidden;
    }
    .card-text {
        height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.router-outlet {
    min-height: calc(100vh - 200px);
}

.footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

header .header-nav .nav-link {
    padding: .9rem .5rem !important;
}

.header .header-nav .nav-link.nav-icon-text clr-icon {
    margin-left: 0.5rem;
}
