

<form class="card new-comment">
    <div class="card-block">
        <div *ngIf="commentsService.replyTo">
            Reply to {{ commentsService.replyTo.user.name }} 
            <clr-icon shape="times"
                (click)="commentsService.replyTo = undefined;">
            </clr-icon>
        </div>
        <input class="new-comment-inp" type="text" 
            [(ngModel)]="newComment.text" name="text"
            placeholder="Your comment...">
    </div>
    <div class="card-footer clearfix">
        <button (click)="submitComment()"
            class="btn btn-primary float-right">
            Comment
        </button>
    </div>
</form>

<h3 *ngIf="commentsService.comments.length > 0">{{ commentsService.comments.length }} comments</h3>
<h3 *ngIf="commentsService.comments.length === 0">No comments yet</h3>

<single-comment *ngFor="let comment of commentsService.comments"
    [comment]="comment"
    [userId]="userId">
</single-comment>
