
.dragzone {
    padding: 20px 30px;
    border: 3px dashed #0072a3;
    color: #0072a3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;

    &.active {
        background: rgba(0, 114, 163, 0.2);
        border-style: solid;
    }

    clr-icon {
        width: 60px;
        height: 60px;
    }

    h4 {
        color: #0072a3;
        font-weight: bold;
    }

}

.selected-file {
    display: block;
    font-size: 1em;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #dedede;
}
