<div class="clr-row">
    <div class="clr-col-lg-6 clr-offset-lg-3 clr-col-12">
        <div class="card">
            <div class="card-block">
                <form clrForm [formGroup]="uploadForm">
                    <clr-input-container>
                        <label>Title</label>
                        <input clrInput type="text" formControlName="title" name="title" />
                    </clr-input-container>
                    <clr-input-container>
                        <label>Description</label>
                        <input clrInput type="text" formControlName="description" name="description" />
                    </clr-input-container>
                    <input type="file" #fileInp 
                        (change)="onFileSelected($event.target.files)"
                        class="not-visible"/>

                    <div class="dragzone" 
                        *ngIf="!video"
                        [ngClass]="{ active: dragActive }" 
                        (dragover)="dragActive = true" 
                        (dragleave)="dragActive = false"
                        (drop)="dropHandler($event)"
                        (click)="selectFile()">
                        <clr-icon shape="video-gallery"></clr-icon>
                        <h4>Select your file or drop it here</h4>
                    </div>
                    <div *ngIf="video">
                        <span class="selected-file">
                            {{ video?.name }}
                            <clr-icon shape="video-gallery"></clr-icon>
                        </span>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <button (click)="submit($event)" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>


